# python
*.pyc

# pyreverse build directory
_pyreverse

# pytest
.cache
*-tests.xml

# coverage
.coverage
htmlcov

# tox
.tox

# distutils
printdevDAG.egg-info

# hypothesis
.hypothesis

# sphinx
doc/_build
doc/printdevDAG
doc/tests

# vim
*.swp
*.swo

# archive
*.tar.gz

# junk files
junk.*
